.product-main-info {
    text-align: center;

    h1 {
        font-size: 48px;
        font-weight: 800;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    .product-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-main-image {
        margin-bottom: 20px;
        max-height: 400px;
        max-width: 400px;
    }

    .table.product-info-table {
        margin: 0 auto;
        width: 50%;
    }
}
