footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    .container-fluid {
        max-width: 1280px;

        .contact-form-section {
            .cf-form {
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
        margin: 0 50px;
        border-top: 1px solid #000000;
    }
}
