:root {
    --rad: .7rem;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
@media screen and (max-width: 768px) {
    .navbar {
        .navbar-brand {
            position: absolute;
        }

        .navbar-toggler {
            position: absolute;
            right: 20px;
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-height: 70px;
    height: 70px;

    .container {
        max-width: 1280px;

        .logo {
            max-width: 120px;
        }

        .navbar-nav {
            .nav-link {
                color: #000000;
            }

            .nav-item {
                font-weight: 700;
                font-size: 16px;
            }

            &.search {
                form {
                    position: relative;
                    width: 15rem;
                    background: #2098D1;
                    border-radius: var(--rad);
                    border: 2px solid black;

                    input, button {
                        height: 40px;
                        border: 0;
                        color: var(--color-dark);
                        font-size: 18px;
                    }

                    input[type="search"] {
                        width: 100%;
                        background: var(--color-light);
                        padding: 0 1.6rem;
                        border-radius: var(--rad);
                        appearance: none;
                        transition: all .3s var(--bez);
                        transition-property: width, border-radius;
                        z-index: 1;
                        position: relative;
                    }

                    button {
                        display: none; // prevent being able to tab to it
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 3rem;
                        font-weight: bold;
                        background: #2098D1;
                        border-radius: 0 var(--rad) var(--rad) 0;
                    }

                    input:not(:placeholder-shown) {
                        border-radius: var(--rad) 0 0 var(--rad);
                        width: calc(100% - 3rem);

                        + button {
                            display: block;
                        }
                    }
                }
            }
        }

        .navbar-nav:not(.ml-auto) {
            a.nav-link {
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}
