.page-content {
    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .change-product-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 25px;
        margin-bottom: 20px;

        i {
            cursor: pointer;

            &.grid-icon {
                &.active {
                    pointer-events: none;
                    color: gray;
                }
            }

            &.list-icon {
                &.active {
                    pointer-events: none;
                    color: gray;
                }
            }
        }

        .list-icon {
            margin-left: 10px;
        }
    }

    .all-products {
        &.grid-view {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 30px;

            .product-item {
                display: flex;
                flex-direction: column;
                text-align: center;
                height: 100%;
                padding: 25px;
                --borderWidth: 3px;
                background: #ffffff;
                position: relative;
                border-radius: var(--borderWidth);

                .like-item {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    cursor: pointer;
                    color: red;

                    .liked {
                        display: none;
                    }

                    &.active {
                        .not-liked {
                            display: none;
                        }

                        .liked {
                            display: block;
                        }
                    }
                }

                form button[type="submit"].requested-product-deleting {
                    background: transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: black;
                    height: 0;
                    width: 0;

                    &::before,
                    &::after {
                        content: none;
                    }
                }

                .delete-requested-item {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    cursor: pointer;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: calc(-1 * var(--borderWidth));
                    left: calc(-1 * var(--borderWidth));
                    height: calc(100% + var(--borderWidth) * 2);
                    width: calc(100% + var(--borderWidth) * 2);
                    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
                    border-radius: calc(2 * var(--borderWidth));
                    z-index: -1;
                    animation: animatedgradient 3s ease alternate infinite;
                    background-size: 300% 300%;
                }

                .link-to-product-source {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }

                .link-to-product-page {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #009bff;
                }

                .product-name {
                    font-weight: 700;
                    font-size: 16px;
                }

                .product-main-image {
                    align-self: center;
                    max-height: 200px;
                    max-width: 200px;
                    padding-bottom: 15px;

                    &.placeholder-image {
                        opacity: .2;
                    }
                }
            }
        }

        &.list-view {
            display: flex;
            flex-direction: column;

            form button[type="submit"].requested-product-deleting {
                background: transparent;
                position: absolute;
                right: 20px;
                top: 10px;
                color: black;
                height: 0;
                width: 0;

                &::before,
                &::after {
                    content: none;
                }
            }

            .product-item {
                display: flex;
                flex-direction: row;
                text-align: center;
                height: 100%;
                padding: 25px;
                --borderWidth: 3px;
                background: #ffffff;
                position: relative;
                border-radius: var(--borderWidth);
                margin-bottom: 15px;

                &:after {
                    content: '';
                    position: absolute;
                    top: calc(-1 * var(--borderWidth));
                    left: calc(-1 * var(--borderWidth));
                    height: calc(100% + var(--borderWidth) * 2);
                    width: calc(100% + var(--borderWidth) * 2);
                    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
                    border-radius: calc(2 * var(--borderWidth));
                    z-index: -1;
                    animation: animatedgradient 3s ease alternate infinite;
                    background-size: 300% 300%;
                }
            }

            .link-to-product-page {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #009bff;

                .product-main-image {
                    max-width: 100px;

                    &.placeholder-image {
                        opacity: .2;
                    }
                }
            }

            .link-to-product-source {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                width: 100%;
            }
        }
    }
}
